.magic-btn {
  width: 140px;
  height: 60px;
  border: 3px black green;
  border-radius: 15px;
  background-color: teal;
  font-size: 20px;
  color: white;
  cursor: pointer;
  display: block;
  margin-top: 10px;
}
