.clock-body {
  background-image: url(https://abrakadabra.fun/uploads/posts/2022-01/1641297144_24-abrakadabra-fun-p-standartnie-zastavki-26.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-left: 10px;
  padding-right: 10px;
}

.clock {
  width: 300px;
  height: 300px;
  background-image: url(https://papik.pro/uploads/posts/2021-12/thumbs/1639326652_21-papik-pro-p-tsiferblat-klipart-22.png);
  background-color: rgba(255, 255, 255, 0);
  background-size: cover;
  border-radius: 50%;
  position: relative;
  transform: translate(-50%, -10%);
  top: 60%;
  left: 50%;
}
.clock-arrow {
  position: absolute;
  background-color: white;
  transform-origin: bottom;
  transform: translateX(-50%);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.clock-center {
  position: absolute;
  background-color: white;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.clock-arrow__seconds {
  bottom: 50%;
  left: 50%;
  width: 5px;
  height: 45%;
}
.clock-arrow__minutes {
  bottom: 50%;
  left: 50%;
  width: 7px;
  height: 38%;
}
.clock-arrow__hours {
  bottom: 50%;
  left: 50%;
  width: 10px;
  height: 30%;
}
.date-desc {
  color: white;
  margin-right: 15px;
  font-size: 30px;
  text-shadow:4px 3px 4px #333333;
}
.date-data {
  color: white;
  font-size: 30px;
  text-shadow:4px 3px 4px #333333;
}
.calendar {
  display: flex;
  justify-content: space-between;
}
.date-style {
  display: flex;
}
.digital-clock {
  text-align: center;
}
.digital-clock__data {
  font-size: 60px;
  color: white;
  text-shadow:4px 3px 4px #333333;
}
