@import './variables';
@import './common';

.form-section {
  background-color: $form-bg-color;
  box-shadow: $card-shadow;
  margin-bottom: 15px;
}
.form-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.search-form {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 350px;
  text-align: center;
}

.form-control {
  margin: 15px 0px 20px 0px;
  width: 350px;
}

.search-btn {
  display: block;
  width: 60px;
  height: 50px;
  border: none;
  position: absolute;
  top: 48%;
  left: 95%;
  transform: translate(-50%, -50%);
  background-color: transparent;
}

.search-btn__icon {
  fill: $icon-fill;
  transition: fill $animation-duration $timing-function,
  transform $animation-duration $timing-function;
  .search-btn:hover & {
    fill: $icon-accent-fill;
    transform: scale(1.2);
  }
}

.show-more-btn {
  display: flex;
  gap: 5px;
  align-items: center;
  margin: 20px auto;
}
.spinner {
  width: 20px;
  height: 20px;
}

.show-more-btn.is-hidden {
  display: none;
}

.show-more-btn > .spinner.is-hidden {
  display: none;
}

.gallery-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.gallery {
  width: 1170px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}
.gallery__image {
  transition: transform $animation-duration $timing-function;
}

.gallery__image:hover {
  transform: scale(1.1);
}

.info {
  display: flex;
  gap: 9px;
  justify-content: center;
  max-width: 285px;
  height: 60px;
  box-shadow: $card-shadow;
}
.info-item {
  padding: 0;
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
}
.info-item__value {
  display: block;
  text-align: center;
  font-size: 13.5px;
}
